.header {
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-bottom: 5px solid #00bcd4;
  }
  
  .title {
    font-size: 3rem;
    margin: 0;
  }
  
  .subtitle {
    font-size: 1.2rem;
    margin-top: 5px;
  }
  