.input-container {
  text-align: center;
  margin-top: 40px;
}

.input-label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#input-word {
  width: 300px;
  padding: 10px;
  font-size: 1.2rem;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-bottom: 20px;
}

.check-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.check-button:hover {
  background-color: #0056b3;
}
